/**********************************************************
***********************************************************
**
** Project      : CSGOTeamFinder.com
** File         : custstrap.css
** Description  : Twitter Bootstrap changes for design
** Author       : Michael Messerli
** Version      : 2
** Website      : http://csgoteamfinder.com
**
***********************************************************

Color Scheme:
1A2B3C - Blue
7D0CE8 - Purple
FF0000 - Red
E8850C - Orange
FFF10D - Yellow
656565 - Gray
404040 - Dark Gray

**********************************************************/


/**********************************************************
***** Navbar **********************************************
**********************************************************/
.navbar-inverse {
  background-color: #353535;
  background: linear-gradient(rgba(53,53,53,1), rgba(38,38,38,1));
    background: -webkit-linear-gradient(rgba(53,53,53,1), rgba(38,38,38,1));
    background: -o-linear-gradient(rgba(53,53,53,1), rgba(38,38,38,1));
    background: -moz-linear-gradient(rgba(53,53,53,1), rgba(38,38,38,1));
  border-color: #303030;

}
.navbar-inverse .navbar-brand {
  font-family: 'Audiowide', cursive;
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #0C0C0C;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #0C0C0C;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0C0C0C;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}


/**********************************************************
***** Pagination ******************************************
**********************************************************/
.pagination>.active>span {
  background-color: #353535;
  border-color: #303030;
}

.pagination a {
  color: #333;
}




.btn-primary {
  color: #ffffff;
  background-color: #1A2B3C;
  border-color: #0A1B2C;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0A1B2C;
  border-color: #0A1B2C;
}


/**********************************************************
***** Pagination ******************************************
**********************************************************/
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #FF0000;
}

.has-error .form-control {
  border-color: #FF0000;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #FF0000;
  background-color: #f2dede;
  border-color: #FF0000;
}

