/**********************************************************
***********************************************************
**
** Project      : CSGOTeamFinder.com
** File         : layout.css
** Description  : Custom Stylesheet for overall design
** Author       : Michael Messerli
** Version      : 2
** Website      : http://csgoteamfinder.com
**
***********************************************************

Color Scheme:
1A2B3C - Blue
7D0CE8 - Purple
FF0000 - Red
E8850C - Orange
FFF10D - Yellow
353535 - Gray
0C0C0C - Dark Gray

**********************************************************/


/**********************************************************
***** Basics **********************************************
**********************************************************/

html,
body {
  height: 100%;
  background-color: #1A2B3C;
  background-attachment: fixed;
  color: #ccc;

}


.alpha {
  color: red;
  font-variant: small-caps;
  font-size: 13px; 
  font-style: italic;
}

/**********************************************************
***** Typography ******************************************
**********************************************************/

a {
  color: #E8850C;
}

a:hover{
  color: #1A2B3C;
  text-decoration: none;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.done {
  text-decoration: line-through;
}

.small-caps {
  font-variant: small-caps;
}

.filter h2 {
  margin: 5px;
  margin-top: 0;
}

/**********************************************************
***** Bootstrap Components ********************************
**********************************************************/
.well, .panel, .jumbotron {
  background-color: #353535;
  border: 0px solid #333;
  -webkit-box-shadow  : inset -1px -1px 1px rgba(24, 24, 24, .5);
          box-shadow  : inset -1px -1px 1px rgba(24, 24, 24, .5);
}

.jumbotron h1 {
  text-align: center;
  font-size: 45px;
}
.jumbotron p {
  text-align: center;
}

.navbar-btn {
  margin-right: 5px;
}


.steamlogin {
  margin: -2px;
}

.vote_thumbs {
  margin: 0 10px;
  position: relative;
  bottom: 30px; 
}

img.serviceLink {
  height: 30px;
}

.ads {
  height: 600px;
}

/**********************************************************
***** Profiles ********************************************
**********************************************************/


.status_select {
}


/**********************************************************
***** Posts ***********************************************
**********************************************************/
.post.well {
  -webkit-box-shadow  : inset 0 -35px 0px rgba(12, 12, 12, .5);
          box-shadow  : inset 0 -35px 0px rgba(12, 12, 12, .5);
}

.post .bottom {
  margin-top: -10px;
  margin-bottom: -10px;
}

.post .comments {
  margin-left: 10px;
}

.post a.comments:hover {
  color: #E8850C;
  text-decoration: underline;
}

.post .region {
  font-variant: small-caps;
  margin-left: 20px;
}

.post h2{
  margin: 0;
  color: #E8850C;

}

.btn-post {
  margin-right: 10px;
}
/****************************
****** Footer 
*****************************/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -39px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px 0px;
  background-color: #1a1a1a;
  font-size: 12px;
  color: #ccc;
}

.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}
.container .credit {
  margin:11px auto;
  font-variant: small-caps;
}
